.navbar{
    border: 2px solid rgb(119, 119, 225);
    height: 5rem;
   
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.navbar .count{
    
    width: 9rem;
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.navbar ul li span{
    width: 2rem;

    border: 1px solid black;
background-color: rgb(229, 255, 0);

    height: 2rem;
   
    display: flex;
    justify-content: center;
    align-items: center;


}

.navbar ul{
   
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar ul li{
    font-size: 1.3rem;
    list-style-type: none;
  
}
.navbar ul a{
    text-decoration: none;

}
.navbar ul .active{
    font-size: 1.3rem;
    color: rgb(177, 30, 206);
  


}
